html{
	scroll-behavior: smooth;
}

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

*, *:before, *:after { 
	box-sizing: border-box; 
}

body{
 	padding: 0;
 	margin: 0;
}

a + a {
  margin-left: 15px;
}

#title span {
	display: block;	
}
#title { 
	height: 720px;
	background-image: url(photos/updated_header.png);
	background-size: cover;
}
.vertical-center{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	text-align: center;
}

.container {
 	position: relative;
}
.twitch-logo {
	position: absolute;
	top: 25px;
	right: 25px;
}

.link-logo{
	position: absolute;
	top: 105px;
	right: 25px;
}
.git-logo{
	position: absolute;
	top: 185px;
	right: 25px;
}

.languages{
	margin-left: 40px;
	margin-right: 40px;
	text-align: center;
	float: left;
	display: inline-block;
	width: 600px;
}

.technology{
	margin-left: 40px;
	margin-right: 40px;
	text-align: center;
	float: right;
	display: inline-block;
	width: 600px;
}
.grid{
	flex-wrap: wrap;
	justify-content: center;
	display: flex;
}
.center{
	width: 50%;
}
.experience-projects{
	text-align: center;
}
.experience-title{
	width: 700px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;

}
.experience-description{
	width: 700px;
	margin-left: auto;
	margin-right: auto;
}

.project-list{
	width: 700px;
	margin-left: auto;
	margin-right: auto;
}
.project-list a{
	text-decoration: none;
	color: #F57571;
}
.education-list{
	width: 700px;
	margin-left: auto;
	margin-right: auto;
}

.cp-text{ 
	color: rgba(0,0,0,.7); 
	text-shadow: 0 1px rgba(255, 255, 255, 0.1);
	text-align: center;
}

.resume{
	text-align: center;
}

.resume a{
	text-decoration: none;
	color: #7197F5;
}

.navbar-links{
	padding-top: 10px;
	padding-left: 20px;
	text-decoration: none;
	font-size: 20px;
	
}
.navbar-links a{
	color: #BDECEE;
	text-decoration: none;
}

