#title span {
	display: block;	
}
#title {
	height: 720px;
	background-image: url(photos/updated_header.png);
	background-size: cover;
	text-align: center;
}
.vertical-center{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
}

.container {
 position: relative;
}
.twitch-logo {
	position: absolute;
	top: 25px;
	right: 25px;
}

.link-logo{
	position: absolute;
	top: 105px;
	right: 25px;
}
.git-logo{
	position: absolute;
	top: 185px;
	right: 25px;
}
.tabDefault { 
	margin-left: 120px; 
}
.tabAlmostCenter{
	margin-left: 210px;
}

body{
 padding:0;
 margin:0;
}
