*, *:before, *:after { 
	box-sizing: border-box; 
}

html{
	scroll-behavior: smooth;
}

html,body
{
	scroll-behavior: smooth;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
body{
 	padding:0;
 	margin:0;
}

a{
	text-decoration: none;
}

a + a {
  margin-left: 15px;
}

ul {
	font-family: 'Maven Pro';
	font-size: 20px;
	padding-top: 0px;
    list-style-position: inside;
}

li{
	padding-top: 5px;
	padding-bottom: 5px;
}

h1{
	font-family:'Maven Pro';
	font-size:56px;
}

h2{
	line-height: 0px;
	font-family: 'Maven Pro';
	font-size: 48px;
}

p{
	padding-top: 0%;
	padding-bottom: 0px;
	margin: 0px;
}
#title span {
	display: block;	
}
#title { 
	height: 720px;
	background-image: url(photos/night.jpg);
	background-size: cover;
	background-attachment: fixed;
}
.vertical-center{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	text-align: center;
}

.container {
 	position: relative;
}
.link-logo {
	position: absolute;
	top: 25px;
	right: 25px;
}

.git-logo{
	position: absolute;
	top: 105px;
	right: 25px;
}
.languages{
	margin-left: 40px;
	margin-right: 40px;
	text-align: center;
	float: left;
	display: inline-block;
	width: 600px;
}

.technology{
	margin-left: 40px;
	margin-right: 40px;
	text-align: center;
	float: right;
	display: inline-block;
	width: 600px;
}
.grid{
	flex-wrap: wrap;
	justify-content: center;
	display: flex;
}
.center{
	width: 50%;
}
.experience-projects{
	font-family: 'Maven Pro';
	font-size: 28px;
}
.experience-title{
	font-family: 'Maven Pro';
	font-size: 32px;
	padding-top: 10px;
	width: 700px;
	margin-left: auto;
	margin-right: auto;

}
.experience-description{
	font-family: 'Maven Pro';
	font-size: 18px;
	padding-top: 10px;
	width: 700px;
	margin-left: auto;
	margin-right: auto;
}

.project-list{
	font-family: 'Maven Pro';
	font-size: 48px;
	padding-top: 10px;
	width: 700px;
	margin-left: auto;
	margin-right: auto;
}
.project-list a{
	text-decoration: none;
	color: #F57571;
}
.education-list{
	padding-top: 10px;
	width: 700px;
	margin-left: auto;
	margin-right: auto;
}

.resume{
	text-align: center;
	font-family: calibri;
	font-size: 35px;
}

.resume a{
	text-decoration: none;
	color: #7107F5;
}

.navbar-links{
	text-align: center;
	padding-top: 10px;
	padding-left: 20px;
	text-decoration: none;
	font-size: 30px;
	
}
.navbar-links a{
	color: #BDECEE;
	text-decoration: none;
}

