html , body {
	scroll-behavior: smooth;
}

h1 {
	font-size: 4vh;
}

a:link {
	color: #1E2628;
}

p {
	font-family: 'Ubuntu', sans-serif;
	font-size: 2vh;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.card {
	width: 48rem;
}

.card-header {
	font-size: 2.25vh;
	text-align: center;
}


.rounded-circle {
	max-height: 250px;
	max-width: 250px; 
}

.name-desc {
	text-align: center;
}

.centered-default {
	font-family: 'Ubuntu', sans-serif;
	text-align: center;
	font-size: 18px;
}

[class*=' devicon-'], [class^='devicon-'] {
	font-size: 4rem;
	margin-left: auto;
	margin-right: auto;
}