#title span {
	display: block;	
}

#title {
	width: 100%; 
	height: 360px;
	background-image: url(twitch_photos/space.png);
	background-size: cover;
	text-align: center;
}
.vertical-center{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	text-shadow: 10px 10px #18D62F;
}

#twitch-embed{
	padding-left: 20px;
	padding-top: 20px;
	display: flex;
	align-items: left;
	justify-content: left;
}

.container {
 	position: relative;
}

.topLeft{
	position: absolute;
	top: 8px;
	left: 16px;
}


.instagram-logo{
	position: absolute;
	top: 8px;
	right: 16px;
}


.twitter-logo{
	position: absolute;
	top: 122px;
	right: 16px;
}

.facebook-logo{
	position: absolute;
	top: 236px;
	right: 16px;
}

body
{
 	padding:0;
 	margin:0;
}

.fan-art_pos{
	width: 750px;
	margin-left: auto;
	margin-right: auto;
}

.format_about{
	text-align: center;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

.center{
	width: 50%;
}

.format_info{
	width: 500px;
	margin-left: auto;
	margin-right: auto;
}

.texture_pack{
	width: 750px;
	margin-left: auto;
	margin-right: auto;
}

.grid{
	display: flex;
	justify-content: center;
}
.games{
	text-align: center;
	float: left;
	display: inline-block;
	width: 50%;
}

.setup{
	text-align: center;
	float: right;
	display: inline-block;
	width: 50%;
}


ul {
    text-align: center;
    list-style-position: inside;
}

.cp-text{ 
	color: rgba(0,0,0,.7); 
	text-shadow: 0 1px rgba(255, 255, 255, 0.1);
	text-align: center;
}