html , body {
	scroll-behavior: smooth;
    background-color: #aeb6ca !important;
}

h1 {
	font-size: 6vh;
}

h2 {
    font-size: 4vh;
}

p {
	font-size: 2vh;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.card-header {
	font-size: 2.25vh;
}

.rounded-circle {
	max-height: 250px;
	max-width: 250px; 
}

.centered-default {
	font-family: 'Ubuntu', sans-serif;
	text-align: center;
	font-size: 18px;
}

@media (min-width: 1200px) {
    #project-container {
        min-width: 1600px;
    }
}

nav {
	box-shadow: 0 2px 10px -1px rgba(0,0,0,0.75);
}

/** Main Page navbar effects **/
#navbar > ul > li.nav-item.active > a {
	opacity: 0.6;
	transition: 0.3s;
}

#navbar > ul > li.nav-item.active > a:hover {
	opacity: 1.0;
}

/** Navbar item effects **/
#navbar > ul > li.nav-item > a {
	opacity: 0.6;
	transition: 0.3s;
    text-decoration: none;
}

#navbar > ul > li.nav-item > a:hover {
	opacity: 1.0;
    text-decoration: none;
}

/** Github Button effects **/
#navbar > ul > li:nth-child(5) > button > a {
	color: white;
	opacity: 0.6;
	transition: 0.3s;
    text-decoration: none;
}

#navbar > ul > li:nth-child(5) > button > a:hover{
	color: gray;
	opacity: 1.0;
    text-decoration: none;
}

/** Linkedin Button effects **/
#navbar > ul > li:nth-child(6) > button > a{
	color: white;
	opacity: 0.6;
	transition: 0.3s;
    text-decoration: none;
}

#navbar > ul > li:nth-child(6) > button > a:hover {
	color: lightskyblue;
	opacity: 1.0;
    text-decoration: none;
}

[class*=' devicon-'], [class^='devicon-'] {
	font-size: 4rem;
	margin-left: auto;
	margin-right: auto;
}

#project-card {
    background-color: #232323;
    color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 0 2px 10px -1px rgba(0,0,0,0.75);
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
    width: 48rem;
}

#language-card {
	width: 64rem;
}

#project-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

#project-card-header {
    background-color: #333;
    padding: 20px;
    font-size: 18px;
    font-weight: bold;
}

#project-card-body {
    padding: 20px;
}
